footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(38, 41, 56);
    border: 3px solid rgb(56, 64, 84);
    margin-top: 128px;
    bottom: 8px;
    position: relative;
    clear: both;
}

.footer-links {
    flex-shrink: 0;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-links a {
    margin-right: 12px;
    margin-left: 12px;
}

blockquote {
    font-style: italic;
}

body {
    background-color: rgb(12, 13, 18);
    color: rgb(241, 243, 217);
    font-family: "Cabin", sans-serif;
    letter-spacing: 2px;
    height: 100%;
}

body>*:not(header) {
    padding-left: 1em;
}

a {
    color: rgb(241, 243, 217);
}

h1 {
    text-decoration: underline;
    margin-bottom: 4px;
    margin-top: 4px;
    text-underline-offset: 4px;
}

.lorem-text::before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi magna, auctor at nibh non, rutrum consecteturenim. Aliquam dictum quis diam at cursus. Curabitur neque massa, tempor vel sapien dictum, fermentum luctus dui. Quisque sit amet condimentum diam. Nullam eget tempor magna. Fusce ultricies orci vel urna mollis, sit amet venenatis augue laoreet. Integer ac tempor augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.";
}

.lorem-text-0::before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi magna, auctor at nibh non, rutrum consecteturenim. Aliquam dictum quis diam at cursus. Curabitur neque massa, tempor vel sapien dictum, fermentum luctus dui.";
}

.help p {
    width: 45%;
    line-height: 24px;
}

.back-button {
    margin-left: auto;
    margin-right: 0px;
}

.help h1:not(.back-button)::before {
    content: "HELP > ";
}

.help h3 {
    font-style: italic;
}

.img-sect {
    display: flex;
    float: right;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin-right: 160px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.img-sect img {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 450px;
    height: auto;
    object-fit: contain;
}

.img-sect .content-descriptor {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    border: 3px solid rgb(56, 64, 84);
    background-color: rgb(38, 41, 56);
}

.content-descriptor p {
    text-align: center;
    width: 300px;
    margin-top: 0px;
}

.content-descriptor h4 {
    margin-top: -6px;
    margin-bottom: 8px;
}

.content-information {
    text-align: center;
}

#obtaining {
    margin-left: 20px;
}

.bar {
    width: 100%;
    height: 36px;
    border: 3px solid rgb(56, 64, 84);
    background-color: rgb(38, 41, 56);
}

.bar a {
    text-decoration: none;
}

.bar a:hover {
    text-decoration: underline;
}

.bar-items {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}

.bar-item {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    display: block;
}

.active {
    text-decoration: underline;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mod-tab summary {
    user-select: none;
    width: 80px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    /*border: 2px solid rgb(111, 111, 152);*/
    width: 200px;
    padding: 4px;
}

.gallery-item .img-box {
    /*border: 1px solid rgb(111, 111, 152);*/
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-item p {
    margin: 4px;
    width: 100%;
}

.gallery .gallery-item p::before {
    content: "| ";
}

.assistance-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.assistance-gallery .gallery-item {
    /*border: 2px solid rgb(111, 111, 152);*/
    width: 160px;
    padding: 16px;
}

.assistance-gallery .gallery-item .img-box {
    /*border: 1px solid rgb(111, 111, 152);*/
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mod-heading {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: -4px;
}

.mod-heading img {
    width: 30px;
    height: fit-content;
    margin-right: 4px;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 320px;
    text-align: left;
    background-color: rgb(38, 41, 56);
    overflow-x: hidden;
}

.dropdown:hover {
    text-decoration: underline;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.assisted-list {
    list-style: none;
    font-style: italic;
    margin-left: -24px;
}

.assisted-list li::before {
    content: "- ";
}

.assistance-note {
    font-size: 12px;
    font-style: italic;
    margin-top: -12px;
}